@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SFPro';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/sf-pro-bold.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'SFPro';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/sf-pro-regular.woff2') format('woff2');
	font-display: fallback;
}

@font-face {
	font-family: 'SoyuzGrotesk';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/soyuz-grotesk-bold.woff2') format('woff2');
	font-display: fallback;
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'SoyuzGrotesk', sans-serif;
	max-width: 1440px;
	display: flex;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background: white;
	color: black;
	font-size: 16px;
}
p,
span {
	font-family: 'SFPro', sans-serif;
	font-weight: 400;
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide::-webkit-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.close {
	transform: translate(150%, 0%);
	opacity: 0;
	filter: blur(3px);
}
.closeLeft {
	transform: translate(-150%, 0%);
	opacity: 0;
	filter: blur(3px);
}
.open {
	transform: translate(0%, 0%);
	opacity: 1;
	filter: blur(0px);
}

.translateUpMedium {
	animation: translateXUpMediumAnim 1.2s forwards;
}
.translateUpLow {
	animation: translateXUpLowAnim 1.1s forwards;
}
.translateUpHigh {
	animation: translateXUpHighAnim 1.3s forwards;
}

@keyframes translateXUpLowAnim {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -14px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@keyframes translateXUpHighAnim {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -18px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes translateXUpMediumAnim {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, -16px);
	}

	100% {
		transform: translate(0px, 0px);
	}
}
